<a href="https://colab.research.google.com/github/valentingracia/codingDojoDC/blob/main/myRut.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

mucho mejor que Jupiter :D

In [ ]:
import numpy as np

myRut = 19919772
# myrutconK="19919772"
key = [2, 3, 4, 5, 6, 7]
key *= 2


def getDigVer(myRut):
    digits = [int(d) for d in str(myRut)]
    suma = 0
    j = 0

    #print(f"largo digits{len(digits)}")
    for i in range(len(digits)-1, -1, -1):
        #print(f"digit subo , {digits[0]}")
        #print(f"el digito es : {digits[i]*key[j]}")
        suma += digits[i]*key[j]
        j += 1
    digito = 11 - (suma % 11)
    if digito == 11:
        digito = 10
    if digito == 10:
        digito = "K"
    return digito


print(getDigVer(myRut))

K

In [ ]:
#
import pandas as pd
from sklearn.datasets import load_iris
data=load_iris()
data

df=pd.DataFrame(data.data,columns=data.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2