<a href="https://colab.research.google.com/github/valentingracia/codingDojoDC/blob/main/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Muestra la cabecera de la trama de datos

In [1]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd
filename = '/content/drive/MyDrive/Coding Dojo/Semana2/titanic.csv'
titanic_df=pd.read_csv(filename)

titanic_df.columns

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

¿Cuál es el porcentaje de personas que sobrevivió? (pista: encuentra la media de la columna de supervivencia)

In [2]:
titanic_df["Survived"].mean()*100

38.38383838383838

¿Cuántos de cada sexo sobrevivieron?

In [3]:
titanic_df.groupby(["Sex"])[["Survived"]].count()

        Survived
Sex
female       314
male         577

¿Cuál es el porcentaje de gente que sobrevivió que pagó un pasaje de menos de 10?

In [4]:
titanic_df[(titanic_df["Fare"]<10)]["Survived"].mean()*100

19.940476190476193

¿Cuál es la edad promedio de quienes no sobrevivieron?

In [5]:
titanic_df["Age"][titanic_df["Survived"]==0].mean()

30.62617924528302

¿Cuál es la edad promedio de quienes sobrevivieron?

In [6]:
titanic_df[titanic_df["Survived"]==1]["Age"].mean()

28.343689655172415

¿Cuál es la edad promedio de quienes sobrevivieron y no sobrevivieron agrupados por sexo?

In [7]:
titanic_df.groupby(["Sex"])[["Age"]].mean()

              Age
Sex
female  27.915709
male    30.726645