<a href="https://colab.research.google.com/github/valentingracia/codingDojoDC/blob/main/visualizacionSemana3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Alumno Valentin Gracica
Semana3 : Visualizacion en python.

In [3]:
import pandas as pd
olympics_df=pd.read_csv("/content/drive/MyDrive/Coding Dojo/Semana3/athleteEventsNoPersonal.csv")
olympics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40616 entries, 0 to 40615
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      40616 non-null  int64
 1   Age     39143 non-null  float64
 2   Height  31615 non-null  float64
 3   Team    40616 non-null  object
 4   NOC     40616 non-null  object
 5   Games   40616 non-null  object
 6   Year    40616 non-null  int64
 7   Season  40616 non-null  object
 8   City    40616 non-null  object
 9   Sport   40616 non-null  object
 10  Event   40616 non-null  object
 11  Medal   5917 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.7+ MB

In [4]:
olympics_df.head(3)

   ID   Age  Height  ...          Sport                               Event Medal
0   5  21.0   185.0  ...  Speed Skating    Speed Skating Women's 500 metres   NaN
1   5  21.0   185.0  ...  Speed Skating  Speed Skating Women's 1,000 metres   NaN
2   5  25.0   185.0  ...  Speed Skating    Speed Skating Women's 500 metres   NaN

[3 rows x 12 columns]

In [5]:
olympics_df.groupby(["ID","Year"])["Height"].mean()

ID      Year
5       1988    185.0
        1992    185.0
        1994    185.0
6       1992    188.0
        1994    188.0
                ...
135567  2000    183.0
        2004    183.0
135570  2014    176.0
135571  1998    185.0
        2002    185.0
Name: Height, Length: 28189, dtype: float64